@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    } to {
        opacity: 1;
        scale: 1;
    }
}


.avatars, .hero, .anim, iframe {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}





/* WRAPPER */

#headctd {
    & .toggle {
        display: block;
        outline: 2px solid black;
        padding: 20px 25px;
        margin: 20px auto;
        text-align: center;
        min-width: 150px;
        border-radius: 100px;
        background-color: var(--cor01);
        cursor: pointer;
    }
}

.hidden {
    display: none;
}

.hero {
    display: flex;
}


/*--------------------*/

.hero {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h2 {
        margin-top: 2rem;
        font-size: 4rem;
        text-align: center;
    }
}

hr {
    background-color: black;
    color: black;
}

.hero > h1 {
    font-size: 4rem;
    font-weight: 700;
    margin: 5px 0;
    text-align: center;
}

div#headctd > h1{
    font-size: 4rem;
    font-weight: 700;
    margin: 5px 0;
    text-align: center;
}

.wrapper > h1 {
    font-size: 4rem;
    font-weight: 700;
    margin: 5px 0;
    text-align: center;
}

.timebox {
    display: flex;
    gap: 90px;
}

.time {
    text-align: center;
    & h2 {
        font-size: 5rem;
    }
}


@media (max-width: 1200px) {
.hero > h1 {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 30px 0;
    text-align: center;
}


.timebox {
    display: flex;
    gap: 30px;
}

.time {
    text-align: center;
    & h2 {
        font-size: 1rem;
    }
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h2 {
        margin-top: 4rem;
        font-size: 2rem;
        text-align: center;
    }
}
#lista {
    display: block;
     margin: auto;
}
}

#lista {
    display: flex;
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 30px;
    
    & p, h3, h2, h4{
        padding: 0 40px;
    }
}

#credfim {
    margin-top: 30px;
}

#sobre h3{
    color: black;
    font-size: 2.6em;
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2vw;
}

#sobre img {
    max-width: 20vw;
    margin: auto;
    text-align: center;
    display: block;
}

@media (max-width: 600px) {
    #sobre img {
    max-width: 50vw;
    margin: auto;
    text-align: center;
}

}