@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #2EA3D9;
    height: 25vh;
}

section, header, footer {
    display: flex;
    justify-content: center;
    align-items: center;  
}

p {
    margin: 0 20vw;
    text-align: center;
}

section#intro {
    background-color: #FFC50C;
    height: 90vh;
}

section#mid {
    background-color: #FFD44A;
    height: 43vh;
}

section#end {
    background-color: lightgray;
    height: 43vh;
}

footer {
    color: white;
    background-color: black;
    height: 30vh;
}
